.wabe {
    position: static;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../Images/wave2.png);
    background-size: 1000px 100px;
    animation: wabe 15s linear infinite;
}

@keyframes wabe {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}